.App {
  text-align: center;
}

.form{
  display:flex;
  flex-direction: column;
  width:50%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.input{
  width: 50%;
  border: 5px ridge red;
}

.btn{
  background-image:linear-gradient(red,yellow,red);
  border: 2px solid red;
  font-weight: bold;
}
